<web-app>
<!--servlet configuration-->
<servlet>
<servlet-name>test</servlet-name>
<servlet-class>com.mj.servlet.Test</servlet-class>
</servlet>
<!--servlet mapping with URL-->
<servlet-mapping>
<servlet-name>test</servlet-name>
<url-pattern>/test</url-pattern>
</servlet-mapping>
</web-app>